/* @import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css"; */
@import "semantic-ui-css/semantic.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');
/* @import url('../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5{
  font-family: 'Playfair Display', serif;
}

p{
  font-size: 17px;
}
.slick-dots li button:before
    {
        font-size: 15px;
        line-height: 20px;
    }
    @media only screen and (max-width: 600px) {
      .slick-dots li button:before
    {
        font-size:auto;
        line-height: auto;
    }
  }

  /* BORDER TOP SPINNER */
.bt-spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #222;
  border-top-color: #009688;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}